/* fonts */
@font-face {
  font-family: 'Manrope Medium';
  src: url('fonts/Manrope-Medium.eot');
  src: local('Manrope Medium'),
    url('fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Manrope-Medium.ttf') format('truetype'),
    url('fonts/Manrope-Medium.woff') format('woff'),
    url('fonts/Manrope-Medium.woff2') format('woff2');
  font-style: normal;
}
